.dub
dub.selections.json
.idea
docs.json
__dummy.html
docs/
out/
/skyjump
/skyjump-server
skyjump.so
skyjump.dylib
skyjump.dll
skyjump.a
skyjump.lib
skyjump-test-*
*.exe
*.o
*.so
*.obj
*.lst
skyjump-android/app/libs
skyjump-android/app/src/main/assets
skyjump-android/app/src/main/java/org/libsdl/app
crash-report.txt
Skyjump.iml
/*.ttf
*.zip
/*back.png
network.png
source/android
source/EGL
/.vscode