.dub
*.json
.idea
__dummy.html
docs/
out/
sheet/
/skyjump
/skyjump-server
skyjump-test-*
*.exe
*.jar
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.lst
skyjump-android/app/libs
skyjump-android/app/src/main/assets
skyjump-android/app/src/main/java/org/libsdl/app
crash-report.txt
Skyjump.iml
/*.ttf
*.zip
/*back.png
network.png
source/android
source/EGL
/.vscode